<body background="assets/dankmemes.png">
	<div class="container">
	  <div class="intro">
	    <h3 id="dank-text">
	    	Born too late to explore the earth...
	    	<br>
	    	<br>
	    	Born too early to explore the universe...
	    	<br>
	    	<br>
	    	Born just in time to rank dank memes.
	    </h3>
	  </div>
	</div>
</body>