<body background="assets/dankmemes.png", id="dank-body">
	<p id="start">A short time ago in a browser very, very close…</p>

<h1 id="dank-h1">Dank Memes</h1>

<div id="titles"><div id="titlecontent">

	<p class="center">DANK MEMES<br>CMPE 172</p>
	
	<p>Born too late to explore the earth. Born too early to explore the universe. Born just in time to rank DANK MEMES.</p>
	
	<p>For a CMPE-172 project, a team of Software Engineers embarked on a journey to rank dank memes.</p>
	
	<p>Users can create an account giving them the force to make new memes and vote on other users' memes. The community decides which memes are dank.</p>
	
	<p>Memes can be sorted by top or by new and their ratings are shown under the image.</p>

	<p>Where there is an ongoing battle between the dankest of memes. Where heroes are born and memes such as "Suhh Dude" are painfully killed.</p>

	<p>Will evil triumph or will good prevail...?</p>

</div></div>
</body>

