/*!
* MedLi
* Copyright 2015 - Infinity
*/

.main {
    position: fixed;
    padding-left: 240px;
}

.side-profile {
    margin-top: 55px;
}

/* Navbar */

nav ul li a {
  color: #512da8;
}    

/*
nav ul li:hover {
   background-color: #80cbc4;
}
*/

/* Body */

/*
body, html
{
    background-color: #EDEDED !important;
}
*/

.center {
	text-align: center;
}

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

/* Container */
.top-offset {
	padding-top: 25px;
} 

.login-size {
    width: 300px;
    padding-top: 25px;
}

/* Modal */
#loginModal {

}

.icon-color {
    color: #512da8;
}

.modal.modal-fixed-footer .modal-footer {
    position: static;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 100%;
}

.modal-top {
    z-index: 1003;
    opacity: 1;
    transform: scaleX(1);
    top: 0%! important;
    overflow: hidden;
}

.modal-content {
    top: 7.5% !important; 
}

.modal {
    width: 100%;
    max-height: 100%;
}

.backdrop-img {
    width: 100%;
}

.backdrop-content {
    color: #eee;
}


.backdrop-gradient {
    background-image: linear-gradient(rgba(0,0,0,.4),hsla(0,0%,7%,.4) 50%,rgba(26,26,26,.4));
    height: 100% !important;
    position: absolute;
}

.card-font {
    font-size: 15px;
    font-weight: bold;
}

.content-container {
    background-image: linear-gradient(rgba(0,0,0,.4),hsla(0,0%,7%,.4) 50%,rgba(26,26,26,.4));
    padding: 19px;
    width: 50%;
}

.parallax-container {
    height: 435px;
}

.parallax-backdrop {
    height: 664px;
}

.parallax-margin {
    padding-top: 4%;
}

#logo-padding {
    padding-left: 15px;
}

.form-margin {
    margin-top: 4%;
}

/* Todo: Add css for error explanations */
#error_explanation {

}

.chip {
    background-color: #ee6e73;
    color: white;
}

.signup-btn {
    float: left;
    padding: 16px;
    width: 100%;
    border-top: 0px solid #E6E6E6;
    margin: 0px 0 0 0;
    text-align: center;
    color: #26a69a;    
    background: #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
}

#login-panel-margin {
    margin: 0.5rem 0 0rem 0;
    border-radius: 0px;
}

.no-scroll {
    overflow: hidden;
}
