@font-face {
  font-family: "Ka1";
  src: url(/assets/ka1.ttf) format("truetype");
}

@font-face{
  font-family: "Starjhol";
  src: url(/assets/Starjhol.ttf) format("truetype");
}

.intro {
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

.meme-margin-top {
    margin-top: 20px;
}

#dank-text {
	font-family: "Starjhol";
  font-size: 40px;
  color: yellow;
  padding-left: 50%;
}

#dank-logo {
  font-family: "Ka1";
}

#meme-btn-color {
    background-color: #7986cb;
}

.meme-vote {
	width: 37px;
	height: 48px;
}

